<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User information-page</title>
</head>

<body>
<div th:insert="~{common.html}"></div>
<div class="row">
    <div class="col-sm">
        <div th:insert="~{head.html}"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div th:insert="~{securityAdmin.html}"></div>
    </div>
    <div class="col-sm">
        <div class="container-lg">
            <div class="row">
                <div class="col-sm">
                    <h1>User information-page</h1>
                </div>
            </div>
            <!--            <div class="row">-->
            <!--                <div class="col">-->
            <!--                    <div th:insert="~{navbarUsersTable.html}"></div>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="row">
                <div class="col-sm">
                    <h4>About user</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div th:insert="~{tableOneUser.html}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>