<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>

<div th:insert="~{common.html}"></div>
<div th:insert="~{edit.html}"></div>
<div th:insert="~{delete.html}"></div>

<body>
    <div class="row">
        <div class="col-sm">
            <div th:insert="~{head.html}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div th:insert="~{securityAdmin.html}"></div>
        </div>
        <div class="col-sm">
            <div class="container-lg">
                <div class="row">
                    <div class="col-sm">
                        <h1>Admin panel</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div th:insert="~{navbarUsersTable.html}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h4>All users</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div th:insert="~{tableUsers.html}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>