<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete user</title>
</head>

<body>
<!-- Modal -->
<div th:each="user : ${users}" class="modal fade" th:attr="id=${'deleteModal' + user.id}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/admin/delete?id={userId}(userId=${user.id})}" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title fs-5" id="deleteModalLabel">Delete user</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div  >
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="id">ID</label>
                            <input name="id" type="text" class="form-control" id="id" th:value="${user.id}" readonly placeholder="ID">
                        </div>
                        <div class="form-group">
                            <label for="userName">First name</label>
                            <input name="userName" type="text" class="form-control" id="userName" th:value="${user.username}" readonly placeholder="First name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last name</label>
                            <input name="lastName" type="text" class="form-control" id="lastName" th:value="${user.lastName}" readonly placeholder="Last name">
                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input name="age" type="number" class="form-control" id="age" th:value="${user.age}" readonly placeholder="Age">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input name="email" type="text" class="form-control" id="email" th:value="${user.email}" readonly placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="role">Role</label>
                            <select class="form-control" multiple id="role" name="role" readonly>
                                <option th:value="ROLE_ADMIN">ROLE_ADMIN</option>
                                <option th:value="ROLE_USER">ROLE_USER</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>