<nav class="py-2 bg-dark border-bottom">
    <div class="container d-flex justify-content-between align-items-center text-white">
        <div class="nav ms-0">
             <span class="nav-item text-white">
                <span th:text="${#authentication.name}" class="text-white"></span>
             </span>

            <span class="nav-item ms-4 text-white">
                <span> &nbsp;with roles: </span>
                <span th:text="${#strings.listJoin(#authentication.authorities,', ')}" class="text-white"></span>
            </span>
        </div>
        <div class="nav">
            <a href="/logout" class="nav-link text-white px-2">Logout</a>
        </div>
    </div>
</nav>