<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="w-100">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link w-100" href="/admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active w-100" aria-current="page" href="/register">New User</a>
                </li>
            </ul>
        </div>
    </div>
</nav>